<nav class="navbar">
    <ul class="navbar-list">
      <li class="navbar-item"><a href="{{ '/' | relative_url }}">Home</a></li>
      <li class="navbar-item"><a href="{{ '/about/' | relative_url }}">About</a></li>
      <li class="navbar-item"><a href="{{ '/resume/' | relative_url }}">Resume</a></li>
      <li class="navbar-item"><a href="{{ '/test-automation/' | relative_url }}">Test Automation</a></li>
      <li class="navbar-item"><a href="{{ '/projects/' | relative_url }}">Projects</a></li>
    </ul>
  </nav>
